html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.slider img {
  width: 100%;
  padding: 5px;
  height:310px;
}

h2 {
  text-align: center;
  padding-bottom: 1em;
}

.slick-dots {
  text-align: center;
  margin-bottom:100px;
  padding: 0;
}
.slick-dots li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}
.slick-dots li.slick-active button {
  background-color: #ec7e24;
}
.slick-dots li button {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: #00635e;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.slick-dots li :hover {
  background-color: black;
}

/* Custom Arrow */
.prev {
  color: #999;
  position: absolute;
  top: 38%;
  left: -2em;
  font-size: 1.5em;
}
.prev :hover {
  cursor: pointer;
  color: black;
}

.next {
  color: #999;
  position: absolute;
  top: 38%;
  right: -2em;
  font-size: 1.5em;
}
.next :hover {
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 575px) {
  .next {
    display: none !important;
  }
  .slider img {
  width: 100%;
  padding: 5px;
  height:210px;
}
}
@media screen and (max-width:320px){
.slider img {
  width: 100%;
  padding: 5px;
  height:180px;
}
}