
{% load wagtailcore_tags wagtailimages_tags%}

<div class="container py-3">
    <div class="card">
    <div class="row ">
        <div class="col-md-4">
            {% image self.image fill-1489x798 as img%}
            <img decoding="async" data-src="{{img.url}}" class="lazy w-100">
        </div>
        <div class="col-md-8 px-3 flex-centered" >
            <div class="card-block px-3 com-card-text">
            <h4 class="card-title heading-color">{{self.title}}</h4>
            <ul>
            <li class="card-text">{{self.l1}} </li>

            {% if self.l2 %}
            <li class="card-text">{{self.l2}} </li>
            {% endif %}
            {% if self.l3 %}
            <li class="card-text">{{self.l3}} </li>
            {% endif %}
            {% if self.l4 %}
            <li class="card-text">{{self.l4}} </li>
            {% endif %}

            
            </ul>
            </div>
        </div>

        </div>
    </div>
    </div>
